.loom {
  overflow-y: auto;
}

.loom-buttons {
  margin-top: 0.5em;
}

.loom-zport {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5em;
}

.loom-zport input {
  flex-grow: 1;
}

.loom-zport button {
  margin-left: 0.5em;
}

.loom-vspacer {
  padding-top: 0.5em;
}

.loom-settings {
  margin-bottom: 0.3em;
}

.hidden {
  display: none;
}

.loom-setting {
  display: flex;
  flex-direction: column;
}

.loom-setting label {
  font-size: 0.9em;
  margin-bottom: 0.3em;
}

.loom-setting input {
  margin-bottom: 0.6em;
}

.loom-setting select {
  margin-bottom: 0.6em;
}

.loom-collapse {
  margin-left: 0.6em;
}

.loom-collapse.is-collapsed {
  transform: rotate(-90deg);
}

.loom-node-footer {
  color: var(--text-faint);
  font-size: 0.9em;
  margin-left: calc(0.85em + 1px);
  padding: 0.35em 0 0.35em 1.2em;
  white-space: nowrap;

  display: flex;
  align-items: center;
  width: max-content;

  border-left: 1px solid var(--color-base-35);
}

.loom-hoist-button:hover {
  color: var(--text-normal);
}

.loom-node-footer-text {
  margin-left: 0.35em;
}

.loom-children {
  margin-left: 0.85em;
  padding-left: 0.6em;
  border-left: 1px solid var(--color-base-35);
}

.loom-node {
  display: flex;
  align-items: center;
  padding: 0;
}

.loom-node.is-active {
  background-color: var(--nav-item-background-active);
}

.loom-node-red {
  background-color: rgba(var(--color-red-rgb), 0.2) !important;
}
.loom-node-red.is-active {
  background-color: rgba(var(--color-red-rgb), 0.3) !important;
}

.loom-node-orange {
  background-color: rgba(var(--color-orange-rgb), 0.2) !important;
}
.loom-node-orange.is-active {
  background-color: rgba(var(--color-orange-rgb), 0.3) !important;
}

.loom-node-yellow {
  background-color: rgba(var(--color-yellow-rgb), 0.2) !important;
}
.loom-node-yellow.is-active {
  background-color: rgba(var(--color-yellow-rgb), 0.3) !important;
}

.loom-node-green {
  background-color: rgba(var(--color-green-rgb), 0.2) !important;
}
.loom-node-green.is-active {
  background-color: rgba(var(--color-green-rgb), 0.3) !important;
}

.loom-node-blue {
  background-color: rgba(var(--color-blue-rgb), 0.2) !important;
}
.loom-node-blue.is-active {
  background-color: rgba(var(--color-blue-rgb), 0.3) !important;
}

.loom-node-purple {
  background-color: rgba(var(--color-purple-rgb), 0.2) !important;
}
.loom-node-purple.is-active {
  background-color: rgba(var(--color-purple-rgb), 0.3) !important;
}

.loom-node-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.35em 0 0.35em 0.6em;
}

.loom-node-bookmark {
  display: flex;
  align-items: center;
  margin-left: 0.3em;
  margin-right: -0.3em;
}

.loom-node-unread {
  font-weight: bold !important;
}

.loom-node-unread-indicator {
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: var(--nav-item-color);
  margin-left: 0.6em;
  flex-shrink: 0;
}

.loom-icon {
  display: inline-flex !important;
  margin-left: 0.1em;
  --icon-size: 1.1rem;
}

.loom-icons:not(.is-mobile) {
  display: none;
}

.loom-node:hover .loom-icons {
  display: inline-flex !important;
}

.loom-spacer {
  padding-right: 0.6em;
}

.loom-section {
  margin-bottom: 0.5em;
}

.loom-section-header {
  padding: 0.35em;
}

.loom-section-header-inner {
  color: var(--text-normal);
  font-weight: var(--font-medium);
}

.loom-section-count {
  color: var(--text-faint);
}
