.loom-children {
  margin-left: 1em;
}

.loom-node {
  display: flex;
  align-items: center;
  padding: 0;
}

.loom-node.is-active {
  background-color: var(--nav-item-background-active);
}

.loom-node-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.4em 0.6em;
}

.loom-node-unread {
  font-weight: bold !important;
}

.loom-node-unread-indicator {
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: var(--nav-item-color);
  margin-left: 0.6em;
  flex-shrink: 0;
}

.loom-icon {
  display: inline-flex !important;
  margin-right: 0.25em;
  --icon-size: 1.1rem;
}
